<form>

    <div class="mb-3 form-check">

        <label class="form-check-label">Başlık</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3 form-check">
        <label class="form-check-label">Açıklama</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3 form-check">
        <label class="form-check-label">Yazar</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3 form-check">
        <label class="form-check-label">Yayın Evi</label>
        <input type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>